---
layout: page
---

{{ content }}


<h2>Metrics</h2>

<table>
<tr>
  <th>key</th>
  <th>value</th>
</tr>
<tbody>
  <tr>
    <td>id</td>
    <td>{{ page.id }}</td>
  </tr>
  <tr>
    <td>collection name</td>
    <td>{{ page.name }}</td>
  </tr>
  <tr>
    <td>branch</td>
    <td>{{ page.branch }}</td>
  </tr>
  <tr>
    <td>tag</td>
    <td>{{ page.tag }}</td>
  </tr>
  <tr>
    <td>commit</td>
    <td>{{ page.commit }}</td>
  </tr>
  <tr>
    <td>version (container hash)</td>
    <td>{{ page.version }}</td>
  </tr>
  <tr>
    <td>build date</td>
    <td>{{ page.build_date }}</td>
  </tr>
  {% if page.size_mb %}<tr>
    <td>size (MB)</td>
    <td>{{ page.size_mb }}</td>
  </tr>{% endif %}
  {% if page.size %}<tr>
    <td>size (bytes)</td>
    <td>{{ page.size }}</td>
  </tr>{% endif %}
  <tr>
    <td>SIF</td>
    <td><a href="{{ page.sif }}">Download URL (please use pull with shub://)</td>
  </tr>
  <tr>
    <td>Datalad URL</td>
    <td><a href="{{ page.url }}">View on Datalad</td>
  </tr>
  <tr>
    <td>Singularity Recipe</td>
    <td><a href="{{ page.recipe }}">Singularity Recipe on Datalad</td>
  </tr>
</tbody>
</table>
  
<small>We cannot guarantee that all containers will still exist on GitHub.</small>

